@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  line-height: 1.4;
  width: 100%;
  padding: 0;
  background: #abbaab;  /* fallback for old browsers */
  background: linear-gradient(to right, #ffffff, #abbbab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-nav li {
      display: inline;
      list-style: none;
      font-size: 1.5em;
  }
  .main-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 0.45em;
    color: black;
    margin: 3px;
    /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/}
  
  .main-nav{
      text-align: center;
  }
  .main-nav a:hover{
    text-decoration: none;
  }

  .nav-pills{
    max-width: 80%;
    margin: 0 auto;
  }