
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;   
  font-family: "Lato", sans-serif;
  padding: 0;
}

* {
  border: 0px solid red;
}

html,
body {
  margin: 0;
  height: 100%;
  line-height: 1.4;
  width: 100%;
  padding: 0;
  background: #abbaab; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbbab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.main-nav li {
  display: inline;
  list-style: none;
  font-size: 1.5em;
}
.main-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.45em;
  color: black;
  margin: 3px;
  /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/
}

.main-nav {
  text-align: center;
  position: relative;
}
.main-nav a:hover {
  text-decoration: none;
}

.nav-pills {
  max-width: 80%;
  margin: 0 auto;
}

.nav {
  border-bottom: 3px solid #abbaab;
}

.page-heading {
  display: block;
  text-align: center;
  font-size: 4em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.subheading-answer {
  margin-bottom: 50px;
}

.learning-resources {
  margin-left: 80px;
  font-size: 1.1em;
}

.resource-heading {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Bubblegum Sans", cursive;
}

.subheading-question {
  margin-bottom: 1px;
  margin-top: 40px;
}

.nav-pills .nav-link.active {
  background-color: #e5bba7 !important;
  color: #214c39 !important;
}

.nav-pills .nav-link {
  color: #214c39;
  font-family: "Raleway";
  font-weight: 600;
  margin-top: 100px;
}

.description{
  font-size: 1.1em;
}

.question-answer {
  font-size: 1.2em;
}

.resource-subheading {
  font-family: "Josefin Sans", sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-heading {
    font-size: 2.5em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .learning-resources {
    margin-left: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
