@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: Lato;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-page-heading {
  font-size: 80px;
  color: black;
  margin-top: 0px;
  padding: 0.1em;
  text-align: center;
  margin: 0 auto;
  /*border-bottom: 3px dotted saddlebrown;*/
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.main-nav li {
    display: inline;
    list-style: none;
    font-size: 1.5em;
}
.main-nav a {
    display: inline-block;
  text-decoration: none;
  padding: 0.45em;
  color: black;
  margin: 3px;
  /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/}

.main-nav{
    text-align: center;
}


h1 {
  padding: 0;
  margin: 0;
}
.main-nav a:hover {
  color: #777;
}

.content {
  max-width: 900px;
  text-align:left;
  margin: 0 auto;
}

.home-page-image {
    display: flex;
    margin: 0 auto;
    max-width: 550px;
    width: 90%;
    height: auto;
}

div .section-heading{
  text-align: center;
}

.content .home-page-subheading{
  margin: 0.45vw;
  text-align: center;
  color: #2B2B52;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}