
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body{
    margin: 0;
    padding: 0;
}

.home-page-heading{
    font-size: 80px;
    text-align: center;
    color: #000;
}
.main-nav{
    text-align: center;
}

.main-nav ul{
    margin: 0;
    padding: 0;
}
.main-nav li{
    display: inline-block;
    list-style: none;
    font-size: 1.5em;
    padding: .45em;
    border-bottom: aqua;
    align-content: space-between;
}

.main-nav a{
    text-decoration: none;
    padding: .45em;
    color: black;
    margin: 3px;
}

.main-nav a:hover{
    background-color: rgb(124, 167, 196);
}

.home-page-subheading{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    padding: 0.25em;
    padding-left: .5em;
    padding-right: .5em;
    max-width: 1000px;
}

.content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1000px;
    text-align: center;
    text-align: justify;
    margin: 0 auto;
    font-size: 1.3em;
    padding: 1em;
}

.content .homecontent{
    font-family: 'Lato', sans-serif;
}
