@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #abbbab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-page-heading {
  font-size: 4.5em;
  color: black;
  margin-top: 0px;
  padding: 0.1em;
  text-align: center;
  margin: 0 auto;
  font-family: 'Yeseva One', cursive;
  /*border-bottom: 3px dotted saddlebrown;*/
}
@media screen and (max-width: 375px) {
  .home-page-heading{
    font-size: 4em;
  }
}


.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.main-nav li {
    display: inline;
    list-style: none;
    font-size: 1.5em;
}
.main-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.45em;
  color: black;
  margin: 3px;
  /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/}

.main-nav{
    text-align: center;
}
.main-nav a:hover{
  text-decoration: none;
}


h1 {
  padding: 0;
  margin: 0;
}
.main-nav a:hover {
  color: #777;
}

.content {
  max-width: 1080px;
  text-align:left;
  margin: 0 auto;
}

.home-page-image {
    display: flex;
    margin: 0 auto;
    max-width: 550px;
    width: 90%;
    height: auto;
}


.content .home-page-subheading{
  margin: 0.45vw;
  text-align: center;
  color: #2B2B52;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.9rem;
}

a:hover{
  text-decoration: none;
}

.developer-roadmaps{
  padding: 2em 0 0 0;
}

.cardheading{
    min-height: 114px;
    box-shadow: rgba(0, 0, 0, .62) 0px 5px 10px;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-width: 1px;
    max-width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    flex: 1 1 0%;
    background: white;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
}

.innercontent{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(16, 16, 16);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

