@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto|Yeseva+One&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  height: 100%;
  line-height: 1.4;
  width: 100%;
  padding: 0;
  background: #abbaab;  /* fallback for old browsers */
  background: linear-gradient(to right, #ffffff, #abbbab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-page-heading {
  font-size: 4.5em;
  color: black;
  margin-top: 0px;
  padding: 0.1em;
  text-align: center;
  margin: 0 auto;
  font-family: 'Yeseva One', cursive;
  /*border-bottom: 3px dotted saddlebrown;*/
}

.content .home-page-subheading{
  margin: 0.45vw;
  text-align: center;
  color: #2B2B52;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.9em;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.main-nav li {
    display: inline;
    list-style: none;
    font-size: 1.5em;
}
.main-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0.45em;
  color: black;
  margin: 3px;
  /*background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);*/}

.main-nav{
    text-align: center;
}
.main-nav a:hover{
  text-decoration: none;
}


h1 {
  padding: 0;
  margin: 0;
}
.main-nav a:hover {
  color: #777;
}

.content {
  max-width: 1200px;
  text-align:left;
  margin: 0 auto;
}

.home-page-image {
    display: flex;
    margin: 0 auto;
    max-width: 550px;
    width: 85%;
    height: auto;
}
.section-heading{
  display: block;
  margin: 10px 0 10px 0;
  padding: 0px;
}
a:hover{
  text-decoration: none;
}

.developer-roadmaps{
  padding: 0.5em 0 0 0;
}

.card{
  margin: 0.5em;
  border-radius: 20px;
}

.info{
  color: #4487c9;
}

.checkout-btn{
  padding: 0px;
  text-align: justify;
}

.checkout{
  margin: 10px auto;
  max-width: 60%;
  border: none;
  font-size: 1.1em;
  background-color: inherit;
}

.card-img-top {
  padding: 10px;
  border-radius: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-page-heading{
    font-size: 3.5rem;
  }
  .content .home-page-subheading{
    font-size: 1.2em;
  }
  .tile{
    margin: 5px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.checkout{
  margin: 5px auto;
  max-width: 90%;
  border: none;
  font-size: 1.1em;
  background-color: inherit;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .developer-roadmaps{
    justify-items: center;
  }
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 992px) {
  
  .tile{
    margin: 5px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
      .card-img-top {
        width: 100%;
        height: 40vh;
        max-height: 300px;
        object-fit: cover;
      }
}

.left-footer-description{
  max-width: 400px;
}

.firstline ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.firstline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstline ul li{
  padding: 1rem;
}
