*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  background-image: url(../images/undercons.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
